html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
}
 
header {
    background: #12001e;
    padding: 25px;
}

h1 {
    color: #3c0064;
    font-family: 'Sora', sans-serif;
    font-weight: 700;
    font-size: 12vw;
    line-height: 0.9;
    margin: 0;
    text-align: center;
}

:root {
    --bg-color: white;
    --accent: #fff;
}

.content {
    flex: 1;
    background: linear-gradient(180deg, #12001e 0%, #3c0064 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test{
    color: #76bfff;
    color: #dbedff;
    color: #6b145a;
    color: #eddbff;
}


.outer-container {
    width: 95%;
    margin-top: 15px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

.nav {
    display: flex;
}

.nav_card {
    width: 50%;
    padding: 1.2rem;
    border: none;
    cursor: pointer;

    background: white;
    font-weight: 600;
    font-size: 1rem;

    transition: 0.25s ease;
}

.nav_card.left {
    border-top-left-radius: 18px;
}

.nav_card.right {
    border-top-right-radius: 18px;
}

.nav_card:not(.active):hover {
    filter: brightness(0.9);
}

.hero {
    text-align: center;
    padding: 2rem;
    transition: opacity 0.2s ease, color 0.25s ease;
    opacity: 1;
}

.hero.fade-out {
    opacity: 0;
}

.hero-link {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    transition: 0.2s ease;
}

.hero-link:hover {
    box-shadow: 0 10px 15px rgba(0,0,0,0.25);
    transform: translateY(-1px);
}